@model HMS.Models.ViewModels.AdminViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var title = "Add New Appointment";

    if(Model.Appointments.Id != 0)
    {
        ViewData["Title"] = "Update Appointment";
    }
    else
    {
        ViewData["Title"] = "Add New Appointment";
    }
}

<div class="container bg-white">
    <div class="col-6 m-0 m-auto bg-light rounded cus-border">
        <form method="post" asp-action="AddAppointment" class="col-12">

            @if (Model.Appointments.Id != 0)
            {
                <input type="hidden" asp-for="@Model.Appointments.Id" />
                title = "Update Appointment";
            }

            <div class="row justify-content-center">
                <h3 class="pt-2">@title</h3>
            </div>
            <hr class="w-75" />

            <div class="row form-group">
                <div class="col-4">
                    <label>Doctor Name</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(i => i.Appointments.DoctorId, Model.DoctorsList, "Select Doctor Name", new { @class = "form-control", @style = "border-color:#0094ff" })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4">
                    <label>Patient Name</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(i => i.Appointments.PatientId, Model.PatientsList, "Select Patient Name", new { @class = "form-control", @style = "border-color:#0094ff" })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="@Model.Appointments.DTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Appointments.DTime" class="form-control" />
                    <span asp-validation-for="@Model.Appointments.DTime" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">

                @if(Model.Appointments.Id != 0)
                {
                    <partial name="_EditAndBackBtn" model="@Model.Appointments.Id" />
                }
                else
                {
                    <partial name="_CreateAndBackBtn" />
                }

            </div>

        </form>
    </div>
</div>

@section Scripts{ 
    <style>
        .cus-border {
            border: 2px solid #004481;
        }

        hr {
            border-color: black;
        }

        label {
            font-weight: 500;
        }

        input[type=datetime-local] {
            border-color: #0094ff;
        }
    </style>
}