@model HMS.Models.ViewModels.AdminViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var title = "Add New Department";

    if(Model.Department.Id != 0)
    {
        ViewData["Title"] = "Update Department";
    }
    else
    {
        ViewData["Title"] = "Add New Department";
    }
}

<div class="container">
    <div class="col-6 m-0 m-auto cus-border bg-light rounded">
        <form method="post" asp-action="AddDepartment" class="col-12">

            @if(Model.Department.Id != 0)
            {
                <input type="hidden" asp-for="@Model.Department.Id" />
                title = "Update Department";
            }

            <div class="row justify-content-center">
                <h3 class="pt-2">@title</h3>
            </div>
            <hr class="w-75" />

            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="@Model.Department.Name"></label>
                </div>
                <div class="col-9">
                    <input asp-for="@Model.Department.Name" class="form-control" />
                    <span asp-validation-for="@Model.Department.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-3">
                    <label>Department Head</label>
                </div>
                <div class="col-9">
                    @Html.DropDownListFor(i => i.Department.DoctorId, Model.DoctorsList, "Select Doctor Name", new { @class="form-control", @style="border-color:#0094ff;"})
                </div>
            </div>

            <div class="row form-group">

                @if(Model.Department.Id != 0)
                {
                    <partial name="_EditAndBackBtn" model="@Model.Department.Id" />
                }
                else
                {
                    <partial name="_CreateAndBackBtn" />
                }

            </div>

        </form>
    </div>
</div>

@section Scripts{ 
    <style>
        .cus-border {
            border: 2px solid #004481;
        }

        hr {
            border-color: black;
        }

        label {
            font-weight: 500;
        }

        input[type=text] {
            border-color: #0094ff;
        }
    </style>
}