@model HMS.Models.Doctors
@{
    ViewData["Title"] = "Doctor Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-dark">
        <div class="row">
            <div class="col-6 text-white">
                <h3>Doctor ID: @Model.Id</h3>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <div class="row col-12">
            <div class="col-9">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.Name"></label>
                    </div>
                    <div class="col-9">
                        <p>@Model.Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.Gender"></label>
                    </div>
                    <div class="col-9">
                        <p>@Model.Gender</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.Mobile"></label>
                    </div>
                    <div class="col-9">
                        <p>@Model.Mobile</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.Position"></label>
                    </div>
                    <div class="col-9">
                        <p>@Model.Position</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <img src="@Model.ImageUrl" class="img-thumbnail" />
            </div>
        </div>
    </div>
    <div class="card-footer bg-dark">
        <div class="row">
            <div class="col-3">
                <a asp-action="AddDoctor" asp-route-Id="@Model.Id" class="btn btn-outline-primary text-white form-control">Update</a>
            </div>
            <div class="col-3">
                <a asp-action="Index" class="btn btn-outline-secondary text-white form-control">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <style>
        label {
            font-weight: 500;
        }
    </style>
}